<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <test name="Regression1">
        <classes>
            <class name="com.shiftvision.qa.test.BankAccountTest"/>
            <class name="com.shiftvision.qa.test.BankAccountTest2"/>
        </classes>
    </test>
</suite>